---
title: Kevin Faro | Software Engineer
category: pages
---

{% include header.html %}
<div class="col-lg-12 light">

  <div class="container">
    <h1>About Me</h1>
    <p class="lead">A software engineer interested in pioneering technology that enables solving problems at scale.  Experienced in objected orient and functional programming for both batch and stream processing systems.</p>
    <p class="lead">Over 10 years experience meeting difficult and diverse customer requirements in all aspects of software engineering.  </p>
  </div>

</div>
<div class="col-lg-12 dark">

  <div class="container">
    <h1>Education</h1>
    <div class="row">
      <div class="col-md-5">
        <strong>The Johns Hopkins University</strong><br>Masters of Science in Computer Science<br>2009 (3.9 GPA)
      </div>
      <div class="col-md-4">
        <a href="http://engineering.jhu.edu/" target="_blank"><img src="/assets/images/jhu.jpg" alt="jhu"></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <strong>University of Maryland - College Park</strong><br>Bachelors of Science in Computer Science<br>2004 (3.4 GPA)
      </div>
      <div class="col-md-4">
        <a href="http://www.umd.edu/" target="_blank"><img src="/assets/images/umd.jpg" alt="umd"></a>
      </div>
    </div>
  </div>
  <br>

</div>
<div class="col-lg-12 yellow">

  <div class="container">
    <h1>Companies</h1>
    <div class="row">
      <div class="col-md-5">
        <strong>Tetra Concepts LLC</strong><br>Senior Software Engineer<br>2012-Present
      </div>
      <div class="col-md-4">
        <a href="http://www.tetraconcepts.com/" target="_blank"><img src="/assets/images/tetra.png" alt="tetra"></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <strong>Raytheon AST (aquisition of Pyxis Engineering)</strong><br>Senior Software Engineer<br>2008-2012
      </div>
      <div class="col-md-4">
        <a href="http://www.raytheon.com/" target="_blank"><img src="/assets/images/rast.png" alt="raytheon ast"></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <strong>SAIC</strong><br>Software Applications Engineer II<br>2004-2008
      </div>
      <div class="col-md-4">
        <a href="https://www.leidos.com/" target="_blank"><img src="/assets/images/saic.png" alt="saic"></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <strong>SAIC</strong><br>Computer Science Intern<br>2003-2004
      </div>
      <div class="col-md-4">
        <a href="https://www.leidos.com/" target="_blank"><img src="/assets/images/saic.png" alt="saic"></a>
      </div>
    </div>
    <br>
  </div>

</div>
<div class="col-lg-12 teal">

  <div class="container">
    <h1>Skills</h1>
      <div class="label label-success">Java<span class="badge alert-success lpad datediff">06/01/2003</span></div>
      <div class="label label-success">Scala<span class="badge alert-success lpad datediff">05/01/2013</span></div>
      <div class="label label-primary">Python<span class="badge alert-info lpad datediff">01/01/2010</span></div>
      <div class="label label-info">Ruby<span class="badge alert-info lpad datediff">11/01/2012</span></div>
      <div class="label label-success">Map/Reduce<span class="badge alert-success lpad datediff">01/01/2010</span></div>
      <div class="label label-info">Pig<span class="badge alert-info lpad">6M</span></div>
      <div class="label label-info">Scalding<span class="badge alert-info lpad datediff">06/01/2014</span></div>
      <div class="label label-success">Accumulo<span class="badge alert-success lpad datediff">01/01/2010</span></div>
      <div class="label label-info">HBase<span class="badge alert-info lpad">1Y</span></div>
      <div class="label label-info">MongoDB<span class="badge alert-info lpad">1Y</span></div>
      <div class="label label-info">Redis<span class="badge alert-info lpad">1Y</span></div>
      <div class="label label-success">Linux<span class="badge alert-success lpad datediff">01/01/2006</span></div>
      <div class="label label-success">Git<span class="badge alert-success lpad datediff">05/01/2012</span></div>
      <div class="label label-info">Android<span class="badge alert-info lpad">3M</span></div>
      <div class="label label-info">Docker<span class="badge alert-info lpad datediff">07/01/2014</span></div>
      <div class="label label-info">Mesos<span class="badge alert-info lpad datediff">07/01/2014</span></div>
      <div class="label label-primary">RDF/SPARQL<span class="badge alert-info lpad">1Y</span></div>
  </div>
  <br>

</div>
<div class="col-lg-12 light">

  <div class="container">
    <h1>Repositories</h1>
    <div class="row">
	    <div class="col-md-3">
		<a href="https://github.com/tetra-concepts-llc/accumulo-scala"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
	      <h3>accumulo-scala</h3>
              <br>
	      <p>Accumulo-Scala is a light wrapper to provide a fluent api for reading data from Apache Accumulo in Scala.</p>
	      <ul>
		Design Goals:
		<li>Provide a fluent API</li>
		<li>Avoid needing to close resources explicitly</li>
		<li>Embrace Scala!</li>
	      </ul>
	    </div>
	    <div class="col-md-3">
		<a href="https://github.com/kevin-faro/papaya"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
	      <h3>papaya</h3>
              <br>
	      <p>A collection of useful utilities.</p>
	      <ul>
		<li>LzyMap</li>
		<li>Math</li>
	      </ul>
	    </div>
	    <div class="col-md-3">
		<a href="https://github.com/kevin-faro/Puzzles"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
	      <h3>puzzles</h3>
              <br>
	      <p>Java Puzzles</p>
	      <ul>
		<li>Transposed Binary Search</li>
		<li>Pass Triangle</li>
		<li>Random With Distribution</li>
	      </ul>
	    </div>
	    <div class="col-md-3">
		<a href="https://github.com/kevin-faro/tinymr"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
	      <h3>tinymr</h3>
              <br>
	      <p>A local python "Map/Reduce" framework used for demonstration without having an Apache Hadoop cluster.</p>
	      <p>This was written to demonstrate the Map/Reduce approach to my team without having to install Apache Hadoop. It was meant as purely a learning tool and never intended to be used for anything production related.</p>
	    </div>
    </div>
  </div>
  <br>

</div>
<div class="col-lg-12 dark">
  
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="https://www.linkedin.com/in/kevinfaro">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/291px-LinkedIn_Logo.svg.png" alt="linkedin" style="width:291px; height:79px;">
        </a>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <a href="https://www.codeeval.com/public/8b8f5d16ddd8e332e4da6f7e63fe3c2e7621ead4" >
          <img src="https://www.codeeval.com/static/images/logo.png" alt="codeeval" style="width:211px; height:33px;">
        </a>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <iframe src="https://codility.com/cert/badge/certF2XZ7K-VXBRMUPSQ8JZY8UC/" width="125" height="75" style="overflow:hidden" scrolling="no">
          <a href="https://codility.com/cert/view/certF2XZ7K-VXBRMUPSQ8JZY8UC/"></a>
        </iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-8">
        <iframe src="https://codility.com/cert/badge/cert7ZTUZ4-PNANSTMV3W9BFJ5R/" width="125" height="75" style="overflow:hidden" scrolling="no">
          <a href="https://codility.com/cert/view/cert7ZTUZ4-PNANSTMV3W9BFJ5R/"></a>
        </iframe>
      </div>
    </div>
  </div>
  <br>

</div>

<script>
  $('.datediff').each(function(i, obj) {
    $(obj).text(timeSince($(obj).text()));
  });
</script>

{% include footer.html %}
