---
title: Kevin Faro | Software Engineer
category: pages
---

{% include header.html %}
<div class="col-lg-12 about">

  <div class="container">
    <h1>About Me</h1>
      <p class="lead">all about me ...</p>
    </div>

</div>
<div class="col-lg-12 edu">

  <div class="container">
    <h1>Education</h1>
    <p class="lead">
      <img src="/assets/images/jhu.jpg" alt="jhu" height="42" width="42">
      Masters of Science in Computer Science 2009 (3.9 GPA)
    </p>
    <p class="lead">
      <img src="/assets/images/umd.jpg" alt="umd" height="42" width="42">
      Bachelors of Science in Computer Science 2004 (3.4 GPA)
    </p>

</div>
<div class="col-lg-12 skills">

  <div class="container">
    <h1>Skills</h1>
      <p class="lead">...</p>
    </div>

</div>
<div class="col-lg-12 repo">

  <div class="container">
    <h1>Repositories</h1>
      <p class="lead">...</p>
    </div>

</div>
<div class="col-lg-12 company">

  <div class="container">
    <h1>Companies</h1>
      <p class="lead">...</p>
    </div>

</div>
<div class="col-lg-12 links">

  <div class="container">
    <h1>Links</h1>
    <a href="https://www.linkedin.com/in/kevinfaro">
      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/291px-LinkedIn_Logo.svg.png" alt="linkedin" style="width:291px; height:79px;">
    </a>
    <a href="https://www.codeeval.com/public/8b8f5d16ddd8e332e4da6f7e63fe3c2e7621ead4" >
      <img src="https://www.codeeval.com/site_media/images/logo.png" alt="codeeval" style="width:211px; height:33px;">
    </a>
    <iframe src="https://codility.com/cert/badge/certF2XZ7K-VXBRMUPSQ8JZY8UC/" width="125" height="75" style="overflow:hidden" scrolling="no">
      <a href="https://codility.com/cert/view/certF2XZ7K-VXBRMUPSQ8JZY8UC/"></a>
    </iframe>
    <iframe src="https://codility.com/cert/badge/cert7ZTUZ4-PNANSTMV3W9BFJ5R/" width="125" height="75" style="overflow:hidden" scrolling="no">
      <a href="https://codility.com/cert/view/cert7ZTUZ4-PNANSTMV3W9BFJ5R/"></a>
    </iframe>
    </div>

</div>


<script>
  $('#codeeval-rank').load('https://www.codeeval.com/public/8b8f5d16ddd8e332e4da6f7e63fe3c2e7621ead4/ .main-rank');
</script>

{% include footer.html %}
