.light {
  padding-top:40px;
  background-image: url('/assets/images/pattern-lightgray.jpg');
  color: black;
}
.dark {
  background-image: url('/assets/images/pattern-darkgray.jpg');
  color: white;
}
.yellow {
  background-image: url('/assets/images/pattern-yellow.jpg');
  color: black;
}
.teal {
  background-image: url('/assets/images/pattern-teal.jpg');
  color: black;
}
.skill {
  float: left;
  padding: 5px;
}
.lpad {
  margin: 0 0 0 5px;
}
